<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Estimator</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1 {font-family: "Montserrat", sans-serif}
    img {margin-bottom: -7px}
    .w3-row-padding img {margin-bottom: 12px}
    .jumbotron {
            background-image: url('static/images/Below.jpg');
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <div class="jumbotron" style="text-align: center">
        <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
    </div>
    <div class="container" style="background-color: lightgrey;">
        <div class="row" style="background-color: lightgrey;">
            <p><br></p>
            <div style="text-align: center">
        
        <a href= '/send'><button type="button" class="btn btn-default">Estimate a New Salary!</a>
        <a href= '/'><button type="button" class="btn btn-default">Home</a>
            </div>
        </div>
        <p><br></p>
    </div>
</body>
</html>