<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Estimator</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        /* h1 {
            font-family:'Arial Narrow Bold'
        } */

        img {
            margin-bottom: -7px
        }

        .w3-row-padding img {
            margin-bottom: 12px
        }

        .jumbotron {
            background-image: url('static/images/salary4.jpg');
            background-size: 100% 100%;
            opacity: 50%;
        }
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="container" style="background-color: lightgrey;">

        <div class="jumbotron" style="text-align: center">
            <h1 style="font-family:'Arial Narrow Bold'; color:rgb(19, 138, 19); font-size: 70px; -webkit-text-stroke: black 1.5px;"><br><br>Salary Estimator</h1>
            <p style="color:white; background-color: grey;"><br>See the demographic breakdown of those making over <br> $50k a year, and see your potential salary.<br><br></p>

            <div style="text-align: center;">
                <a href="/send" class="text-center">
                    <button class="btn btn-default mx-auto">Estimate your Salary Now!</button>
                </a>
            </div>
            <p><br><br></p>
        </div>
        <div class="container" style="color: lightgrey;">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <figure id="plot">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="color: lightgrey;"><p><br><br></p></div>
        <div class="container" style="color: lightgrey;">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <figure id="bubble">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="color: lightgrey;"><p><br><br></p></div>
        <div class="container" style="color: lightgrey;">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <figure id="histogram">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="color: lightgrey;"><p><br><br></p></div>
        <div class="container" style="color: lightgrey;">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <figure id="pie">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="color: lightgrey;"><p><br><br></p></div>
        <div class="container" style="color: lightgrey;">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <figure id="education">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/js/data.js"></script>
    <script src="static/js/plots.js"></script>

</body>

</html>